<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application>
        <meta-data
            android:name="com.netease.nim.appKey"
            android:value="f80afc0c4e0bb377591f2d15180dfb63" />

        <activity
            android:name=".ui.chat.ImChatActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.groupChat.ImTeamChatActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ui.groupChat.GroupChatDetailActivity" />
        <activity android:name=".ui.groupChat.GroupMemberActivity" />
        <activity android:name=".ui.chatSetting.UserChatSettingActivity" />
        <activity android:name=".ui.chatSetting.GroupChatSettingActivity" />
    </application>
</manifest>